include *.py
include *.yml
include AUTHORS
include CHANGES
include LICENSE
include TODO
include tox.ini
recursive-include docs/_templates *.html
recursive-include docs *.bat
recursive-include docs *.bibtex
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.bibtex
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.ttf
recursive-include tests *.txt
